%container-100{
    width: 100vw;
    min-width: 385px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
%container-80{
    width: 80vw;
    min-width: 385px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}